
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    justify-items: center;
    grid-gap: 4rem 3rem
}

/* @media (min-width: 1101px) {
    .item-grid {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr))
    }
} */


.single-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #717790;
    position: relative;
    width: 100%;
    height: 35vh !important;
    z-index 1; 
}



.single-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2rem;
    left: 0;
    margin: -1rem;
    border-radius: 10px;
    overflow: hidden;
    z-index: -1;
    background: #1f2229;
    -webkit-clip-path: inset(2rem 0 2rem 2rem round 10px);
    clip-path: inset(2rem 0 2rem 2rem round 10px);
    contain: strict;
    -webkit-transition: -webkit-clip-path 0.3s ease 0.1s;
    transition: -webkit-clip-path 0.3s cubic-bezier(0.25, 0.1, 1, -2.39) 0.1s;
    transition: clip-path 0.3s ease 0.1s;
    transition: clip-path 0.3s ease 0.1s, -webkit-clip-path 0.3s ease 0.1s;
}

@media (prefers-reduced-motion: reduce) {
    .single-item::after {
        -webkit-transition: none;
        transition: none
    }
}





.single-item:hover::after,
.single-item:focus::after,
.single-item:active::after {
    -webkit-clip-path: inset(0 0 0 0 round 10px);
    clip-path: inset(0 0 0 0 round 10px);
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}



.single-item:focus-within {
    z-index: 2
}

.single-item:focus-within::after {
    -webkit-clip-path: inset(0 0 0 0 round 10px);
    clip-path: inset(0 0 0 0 round 10px);
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}





.thumbnail-wrap {
    opacity: 0.99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 30vh;
    border-radius: 6px;
    /* padding-top: 56.25%; */
    overflow: hidden;
    background: #444857;
    background-size: contain;
}




.thumbnail-wrap .grid-preview-image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}





.single-item .header {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    margin-top: 1rem;
    /* -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3*/
    position: absolute;
    top: 75%;
    z-index: 3;
} 





.stats {
    position: absolute;
    bottom: -44px;
    left: -7px;
    padding: 0 0 0 7px;
    height: 45px;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    overflow: hidden
}

.hide-owner .stats {
    margin-left: 1rem;
    height: auto;
    bottom: -2rem;
    -webkit-transition: 0.3s ease transform;
    transition: 0.3s ease transform
}

.single-post.hide-owner .stats {
    bottom: 0
}

.stats .single-stat {
    font: inherit;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 0.25rem 0.5rem 0.2rem;
    color: white;
    cursor: pointer
}

.stats .single-stat svg {
    -webkit-transition: 0.1s ease all;
    transition: 0.1s ease all
}

.stats .single-stat:hover,
.stats .single-stat:focus {
    background: white;
    color: black
}

.stats .single-stat:hover svg,
.stats .single-stat:focus svg {
    fill: #47cf73
}

.stats .single-stat.loves:hover,
.stats .single-stat.loves:focus {
    background: white;
    color: black
}

.stats .single-stat.loves:hover svg,
.stats .single-stat.loves:focus svg {
    fill: #f19994
}

.stats svg {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
    fill: white
}

.stats svg.icon-eye {
    top: -2px;
    width: 17px
}

.stats svg.icon-heart {
    width: 13px
}

.stats .loves {
    position: relative
}

.stats .loves::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.stats .loves .icon-heart {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear
}

.single-item:not(.hide-owner) .single-stat {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.75), linear;
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.75), linear
}

@media (prefers-reduced-motion: reduce) {
    .single-item:not(.hide-owner) .single-stat {
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 0s !important;
        transition-delay: 0s !important
    }
}

.single-item:not(.hide-owner) .single-stat:nth-child(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s
}

.single-item:not(.hide-owner) .single-stat:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}

.single-item:not(.hide-owner):hover .single-stat,
.single-item:not(.hide-owner):active .single-stat,
.single-item:not(.hide-owner):focus .single-stat {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition-timing-function: cubic-bezier(0.2, 0.15, 0.1, 1), ease;
    transition-timing-function: cubic-bezier(0.2, 0.15, 0.1, 1), ease;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.single-item:not(.hide-owner):hover .single-stat:nth-child(2),
.single-item:not(.hide-owner):active .single-stat:nth-child(2),
.single-item:not(.hide-owner):focus .single-stat:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
}

.single-item:not(.hide-owner):hover .single-stat:nth-child(3),
.single-item:not(.hide-owner):active .single-stat:nth-child(3),
.single-item:not(.hide-owner):focus .single-stat:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}

.single-item:not(.hide-owner):focus-within .single-stat {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition-timing-function: cubic-bezier(0.2, 0.15, 0.1, 1), ease;
    transition-timing-function: cubic-bezier(0.2, 0.15, 0.1, 1), ease;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.single-item:not(.hide-owner):focus-within .single-stat:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
}

.single-item:not(.hide-owner):focus-within .single-stat:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}




