/* .section {
  position: absolute;
  left: 0;
  top: 150%;
  width: 100%;
  display: block;
  transform: translateY(-50%);
} */
.and {
    height: 150px;
    width: 100px;
    font-weight: 800;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    color: transparent;
    font-size: 130px;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.7);
    text-stroke: 3px rgba(0, 0, 0, 0.7);
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.actividades {
    /* background: #fc9b4c;
    padding: 5%;
    margin: 0%; */
    padding-top: 20%;
    padding-bottom: 20%;

    background: rgb(228, 255, 227);
    background: linear-gradient(0deg, #e4ffe3 0%, #ffffff 100%);
    box-shadow: 0px -5px 20px #ffffff, 0px 5px 20px #e4ffe3;

}

.hover-target {
    font-weight: 900;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    color: transparent;
    font-size: 130px;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.7);
    text-stroke: 3px rgba(0, 0, 0, 0.7);
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.hover-target:hover {
    cursor: pointer;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.3);
    text-stroke: 3px rgba(0, 0, 0, 0.3);
    animation: changeImg-1 2s linear infinite;
    text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

@keyframes changeImg-1 {

    0%,
    100% {
        background-image: url("https://ivang-design.com/svg-load/slider/2.jpg");
    }

    25% {
        background-image: url("https://ivang-design.com/svg-load/slider/3.jpg");
    }

    50% {
        background-image: url("https://ivang-design.com/svg-load/slider/8.jpg");
    }

    75% {
        background-image: url("https://ivang-design.com/svg-load/slider/15.jpg");
    }
}

.hover-target.travel:hover {
    animation: changeImg-2 2s linear infinite;
}

@keyframes changeImg-2 {

    0%,
    100% {
        background-image: url("https://ivang-design.com/svg-load/slider/10.jpg");
    }

    25% {
        background-image: url("https://ivang-design.com/svg-load/slider/11.jpg");
    }

    50% {
        background-image: url("https://ivang-design.com/svg-load/slider/14.jpg");
    }

    75% {
        background-image: url("https://ivang-design.com/svg-load/slider/16.jpg");
    }
}

.hover-target.fashion:hover {
    animation: changeImg-3 2s linear infinite;
}

@keyframes changeImg-3 {

    0%,
    100% {
        background-image: url("https://ivang-design.com/svg-load/slider/8.jpg");
    }

    25% {
        background-image: url("https://ivang-design.com/svg-load/slider/15.jpg");
    }

    50% {
        background-image: url("https://ivang-design.com/svg-load/slider/2.jpg");
    }

    75% {
        background-image: url("https://ivang-design.com/svg-load/slider/3.jpg");
    }
}

.hover-target.culture:hover {
    animation: changeImg-4 2s linear infinite;
}

@keyframes changeImg-4 {

    0%,
    100% {
        background-image: url("https://ivang-design.com/svg-load/slider/14.jpg");
    }

    25% {
        background-image: url("https://ivang-design.com/svg-load/slider/16.jpg");
    }

    50% {
        background-image: url("https://ivang-design.com/svg-load/slider/10.jpg");
    }

    75% {
        background-image: url("https://ivang-design.com/svg-load/slider/11.jpg");
    }
}

@media (max-width: 1200px) {
    .hover-target {
        font-size: 100px;
    }
    .and{
        font-size: 100px;
    }
}

@media (max-width: 992px) {
    .hover-target {
        font-size: 80px;
    }
    .and{
        font-size: 80px;
    }
}

@media (max-width: 580px) {
    .hover-target {
        font-size: 60px;
    }
    .and{
        font-size: 60px;
    }
}

.btnObserbar {
    margin: auto;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(205, 221, 248, 0.6);
}

.spanObserbar {
    color: #111111;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.btnObserbar:hover {
    animation: rotate 0.7s ease-in-out both;
}

.btnObserbar:hover .spanObserbar {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}
